<!DOCTYPE html>
<html>
<head>
<title>Produk</title>
</head>

<body>

<h1>Data Produk</h1>

<input id="nama" placeholder="Nama Produk">

<input id="harga" placeholder="Harga">

<input id="stok" placeholder="Stok">

<button onclick="tambahProduk()">
Tambah Produk
</button>


<h2>Daftar Produk</h2>

<table border="1">

<thead>
<tr>
<th>ID</th>
<th>Nama</th>
<th>Harga</th>
<th>Stok</th>
</tr>
</thead>

<tbody id="listProduk">

</tbody>

</table>


<script src="/static/js/produk.js"></script>

</body>
</html>
